.add-task{
    margin: 2rem auto;
    /* width: 35rem; */
    margin-bottom: 3rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    color: grey;
}

.add-task-input{
    width: 80%;
}

.add-task-input input{
    width: 78%;
    /* height: 25px; */
    padding: 1rem;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
    border: none;
    background-color: aliceblue;
    font-size: 1rem;
    color: grey;
}

.add-task-input button{
    /* height: 45px; */
    padding: 1rem;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
    font-size: 1rem;
    color: grey;
}