.edit-form{
    max-width: 500px;
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-form-control{
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 3rem;
    margin-bottom: 1rem;
    align-items: center;
}

.edit-form-control input{
    height: 30px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
    border-radius: .3rem;
    border: 1px solid;
    outline: none;
}

.form-section{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 540px){
    .edit-form-control{
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-bottom: 25px;
    }
    .label-title{
        background-color: #4d4d4d;
        color: #fff;
        padding: 0.5rem;
        border-radius: 0.5rem;
    }

    .task-id{
        font-size: 13px;
        margin-top: 0;
    }
}